*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Added by clean-github-uploader
build/
**/build/
.gradle/
release/
**/release/
*.apk
*.aab
*.jks
*.keystore
debug.keystore
*مفتاح*
مفتاح*
*key*
*signing*
